main {
    font: 16px/1.25 Lato, Helvetica, Sans-Serif;
    margin: 1em auto;
    width: 90%;
}
    main p {
        width: 400px;
    }

.walkthrough {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
    position: relative;
    width: 100%;
}
    .walkthrough .images {
        flex-basis: 58%;
        overflow: hidden;
        padding-bottom: 33%; /* height is 67% of the width, 2:3 aspect ratio */
        position: relative;
    }
        .walkthrough .images figure {

            /* TODO remove this */
            background: rgba(255,0,0,0.1);

            bottom: 0;
            left: 0;
            margin: 0;
            overflow: visible;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
        }
            .walkthrough .images figure img {
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
        .walkthrough .images figure, .walkthrough .images figure img {
            opacity: 0;
            transition: opacity 0.5s;
        }
            .walkthrough .images figure.selected, .walkthrough .images figure.selected img.selected {
                opacity: 1;
            }
    .walkthrough .captions {
        display: flex;
        flex-direction: column;
        flex-basis: 38%;
        justify-content: center;
    }
        .walkthrough .captions figcaption {
            align-items: center;
            background: white;
            cursor: pointer;
            display: flex;
            flex-basis: 22%;
            padding: 0 26px;
            pointer-events: auto;
            position: relative;
            transition: background 0.5s;
        }
            .walkthrough .captions figcaption.selected {
                background: rgb(245, 245, 245);
            }
                .walkthrough .captions figcaption.selected .progress-bar {
                    background: red;
                    content: ' ';
                    height: 0;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 2px;
                }

/* under some magical size, scroll horizontally rather than stack */
/*@media (max-width: 1023px) {
    main {
        width: 800px;
    }

    .walkthrough {
        width: 4000px;
    }
        .walkthrough figure {
            display: inline-block;
            position: static;
        }
            .walkthrough figure .images {
                height: 400px;
                opacity: 1;
                width: 640px;
            }
            .walkthrough figure figcaption {
                position: static;
            }
}*/
